.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


.borderEmail{
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.borderPassword{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.center-labels{
    display: flex;
    flex-direction: column;
    align-items: center;
}