*.vsidx
*.v2
.suo
*.dll
*.pbd
*.pdb
*.cache
*.exe
*.props
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/WebAPP.API.csproj.BuildWithSkipAnalyzers
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/WebAPP.API.csproj.CopyComplete
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/WebAPP.API.csproj.FileListAbsolute.txt
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/WebAPP.API.GeneratedMSBuildEditorConfig.editorconfig
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/WebAPP.API.AssemblyInfo.cs
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/WebAPP.API.GlobalUsings.g.cs
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/WebAPP.API.MvcApplicationPartsAssemblyInfo.cs
API/BlogAPP.API/WebAPP.API/bin/Debug/net7.0/appsettings.Development.json
API/BlogAPP.API/WebAPP.API/bin/Debug/net7.0/appsettings.json
API/BlogAPP.API/WebAPP.API/bin/Debug/net7.0/WebAPP.API.deps.json
API/BlogAPP.API/WebAPP.API/bin/Debug/net7.0/WebAPP.API.runtimeconfig.json
API/BlogAPP.API/WebAPP.API/obj/Debug/net7.0/staticwebassets.build.json
API/BlogAPP.API/WebAPP.API/AuthDbUsers.json
*.bin
/API/BlogAPP.API/WebAPP.API/docs/curl_commands.txt
/API/BlogAPP.API/WebAPP.API/appsettings.Development.json
