*.vsidx
*.v2
.suo
*.dll
*.pbd
*.pdb
*.cache
*.exe
*.props
*.bin

**/.vs/**

**/obj/**
**/bin/**

/API/BlogAPP.API/WebAPP.API/AuthDbUsers.json
/API/BlogAPP.API/WebAPP.API/docs/curl_commands.txt
/API/BlogAPP.API/WebAPP.API/appsettings.Development.json
/API/BlogAPP.API/WebAPP.API/appsettings.Dev.json