<div class="card h-100">
  <div class="card-header">
    <h3 class="card-title">Images</h3>
  </div>
  <div class="card-body">
    <div class="d-flex flex-md-row flex-sm-column flex-wrap">
      <div class="col-8 p4" style="overflow-y: scroll">
        <ng-container *ngIf="imageList$ | async as images">
          <div class="d-flex flex-wrap">
            <div
            (click)="selectImage(image)"
              style="
                min-width: 100px;
                max-width: 250px;
                justify-content: center;
                cursor: pointer;
                border-radius: 5px;
              "
              class="m-3 bg-black bg-opacity-10 d-flex align-items-center flex-column border p-3 customcard customcard:hover"
              *ngFor="let image of images"
            >
              <img [src]="image.url" alt="image.title" title="image.title" />
              <span class="mt-1">{{ image.title }}</span>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-4 p4 bg-light">
        <h5>Upload image</h5>
        <form #form="ngForm" (submit)="uploadImage()">
          <div class="mt-3">
            <input
              type="file"
              class="form-control"
              (change)="onFileChange($event)"
            />
          </div>

          <div class="mt-3">
            <input
              type="text"
              class="form-control"
              placeholder="File Title"
              name="filename"
              [(ngModel)]="title"
            />
          </div>
          <div class="mt-3">
            <input
              type="text"
              class="form-control"
              placeholder="File Name"
              name="filename"
              [(ngModel)]="fileName"
            />
          </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Load</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
