<ng-container *ngIf="blogItem$ | async as blogItem; else loader">
  <div class="container">
    <div class="py-5">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <img
          [src]="blogItem.featuredImageUrl"
          alt="an image from the user"
          class="img-fluid"
        />
        <h1 class="mt-4">{{ blogItem.title }}</h1>

        <div class="d-flex justify-content-between mt-4">
          <span>{{ blogItem.author }}</span>
          <span>{{ blogItem.publishedDate | date : "dd-MM-yyyy" }}</span>
        </div>

        <div *ngIf="blogItem.categories" class="mt-4">
          <span
            class="badge bg-secondary me-2"
            *ngFor="let category of blogItem.categories"
          >
            {{ category.name }}
          </span>
        </div>

        <div class="mt-4 blog-content">
          <markdown [data]="blogItem.content"></markdown>
        </div>

      </div>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div class="text-lg-center mt-5">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
